<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Smart Car Seat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Welcome to the Smart Car Seat application!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Initial Setup</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Manual</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
