<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>Contact Us</ion-label>
      <ion-icon name="call" size="large"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-label>FAQ</ion-label>
      <ion-icon name="help-circle-outline" size="large"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Add User</ion-label>
      <ion-icon name="person-add" size="large"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Delete User</ion-label>
      <ion-icon name="trash" size="large"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
